.card-conttainer {
  background-color: white;
  padding: 45px 35px;
  width: 365px;
  border-radius: 10px;
  position: relative;

}

.card-container{
    background-color: white;
    padding: 75px 35px;
    width: 365px;
    border-radius: 10px;
    position: relative;
  
    

}



.card-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 25px;
}

.card-wrapper .price {
  display: flex;
  flex-direction: row;

  gap: 15px;
}

.price .old-price {
  display: flex;
}
.old-price h2 {
  text-decoration: line-through;
  color: rgb(124, 124, 198);
}

.price .new-price {
  display: flex;
}

.selections {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
  
  .styled-select {
    height: 50px;
    padding: 10px;
    padding-right: 90px; /* Ensure space for the arrow */
    border-radius: 8px;
    font-size: 17px;
  
    background-color: white; /* Background color */
    border: 1px solid #ccc; /* Border */
    position: relative;
    color: #333; /* Text color */
  }
  

  .styled-select option {
    background-color: white; /* Background color */
    color: #333; /* Text color */
  }
  
  .styled-select option:hover {
    background-color: blue; /* Hover background color */
    color: white; /* Hover text color */
  }

  .styled-button {
    padding: 15px 30px; /* Button padding */
    background-color: #3659f5; /* Background color */
    color: white; /* Text color */
    font-size: 16px; /* Font size */
    font-weight: bold; /* Font weight */
    border: none; /* Remove border */
    border-radius: 5px; /* Rounded corners */
    cursor: pointer; /* Pointer cursor */
    transition: background-color 0.3s ease; /* Smooth transition */
  }
  
  

.offer-descripion{
    display: flex;
    flex-direction: column;
    gap: 17px;

}

.offer-descripion .announcement {
    display: flex;
    gap: 4px;
    margin-top: 0;
    background-color: rgb(86, 219, 172);
    padding: 5px 36px;
   
  }

  .offer-descripion .info{
    display: flex;
    gap: 10px;
  }
  .offer-descripion h4{
    color:#6a7295 ;
  }

  .popular{
    display: flex;
  background-color: #3659f5;
  border-radius: 15px;
  justify-content: center;
  align-items: center;
  color: white;
  width: 150px;
  padding: 2px;
  position: absolute;
  top: -10px; /* Adjust to bring it above the card */
  left: 50%;
  transform: translateX(-50%);

  }
  hr {
   
    border: none; /* Remove default border */
    height: 1px; /* Set height */
    background-color: red; /* Background color */
    width: 100%;
  }

  .main-popular{
    display: none;
  }
