.video-wrapper {
    position: relative;
    display: inline-block;
    position: fixed;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
    /* Add a background color to overlay */
    padding: 20px;
    border-radius: 10px;
  }
  
  .close-button {
    position: absolute;
    top: 5px;
    right: 10px;
    background-color: red;
    color: white;
    border: none;
    padding: 5px 10px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 50%;
  }
  
  .close-button:hover {
    background-color: darkred;
  }
  